body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: #333;
    color: white;
}

h1 {
    text-align: center;
}
